

body,html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

main {
	width: 100%;
	font-family: "Lobster";
}

nav {
	background-color: black!important;
	font-family: "Lobster";
}

.card {
	width: 50%;
}

.formm{
	padding-left: 10px;
}

.bulleflex {
	display: flex;
	flex-wrap: wrap;
}

.bulle {
	width: 250px;
	border-radius: 20%;
	text-align: center;
}

.container {
	margin-top: 3rem; 
	padding:0;
	min-width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.landing{
	max-width: 100%;
	height: 100%;
	
}

.heros img {
	width: 100%;
	height: 100vh;
}




#logo {
	font-weight: lighter;
	font-size: 5rem;
	position: absolute;
	top:60%;
	left: 50%;
}

.big-text {
	position: absolute;
	top:30%;
	left: 30%;
	transform: translate(-30%,-30%);
	font-size: 5rem;

}

.intro {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.intro-text {
	font-size:3rem;
}

.slider {
	background: #d13248;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
}

.hide {
	background: black;
	overflow: hidden;
}

.hide span {
	transform: translateY(100%);
	display: inline-block;
}


